[Unit]
Description=Mount unit for gnome-3-28-1804, revision 198
After=snapd.mounts-pre.target
Before=snapd.mounts.target

[Mount]
What=/var/lib/snapd/snaps/gnome-3-28-1804_198.snap
Where=/snap/gnome-3-28-1804/198
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=snapd.mounts.target
WantedBy=multi-user.target
